  #logo{
        }

        body{
            background-color: #553D67;
        }

        #movies_watched{
            background-color: #4cb4c7;
        }

        #total_movies{
            background-color: #7abecc;
        }

