<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white" id="total_movies" style="background-color: #7abecc;">
                <div class="card-header">
                    <h5 class="card-title" >Total Movies</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{ total_movies }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white" id="movies_watched" style="background-color: #4cb4c7;">
                <div class="card-header">
                    <h5 class="card-title">Movies Watched</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ movies_watched }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white" id="orders-pending" style="background-color: #7CD1C0;">
                <div class="card-header">
                    <h5 class="card-title">Movies Yet to be watched</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ movies_pending }}</h3>
                </div>
            </div>
        </div>
    </div>


</div>
